In [1]:
import numpy as np
import pandas as pd
import math

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
%matplotlib inline

In [2]:
data=pd.read_csv('/Users/sunilhariharan/Downloads/data science/datasets/startup_funding.csv')

In [4]:
data.drop('SNo',axis=1,inplace=True)

In [6]:
data.shape

(2372, 9)

In [9]:
data.head(10)

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN
7,04/07/2017,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,"20,000,000",NaN
8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,"8,500,000",NaN
9,05/07/2017,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,"12,000,000",NaN

In [10]:
data.dtypes

Date                object
StartupName         object
IndustryVertical    object
SubVertical         object
CityLocation        object
InvestorsName       object
InvestmentType      object
AmountInUSD         object
Remarks             object
dtype: object

In [11]:
data.describe()

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
count,2372,2372,2201,1436,2193,2364,2371,1525,419
unique,701,2001,743,1364,71,1885,7,329,69
top,08/07/2015,Swiggy,Consumer Internet,Online Pharmacy,Bangalore,Undisclosed Investors,Seed Funding,"1,000,000",Series A
freq,11,7,772,9,627,33,1271,130,177

In [13]:
data.isnull().sum()

Date                   0
StartupName            0
IndustryVertical     171
SubVertical          936
CityLocation         179
InvestorsName          8
InvestmentType         1
AmountInUSD          847
Remarks             1953
dtype: int64

In [14]:
data.isnull()

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,True
7,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,True,True
12,False,False,False,False,False,True,False,True,True
13,False,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,True,True
15,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,True,True
19,False,False,False,False,False,False,False,False,True
20,False,False,False,False,False,False,False,True,True
21,False,False,False,False,False,False,False,True,True
22,False,False,False,False,False,False,False,True,True
23,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,True,True
28,False,False,False,False,False,False,False,True,True
29,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...
2342,False,False,True,True,True,False,False,False,True
2343,False,False,True,True,True,False,False,True,True
2344,False,False,True,True,True,False,False,False,True
2345,False,False,True,True,True,False,False,False,True
2346,False,False,True,True,True,False,False,False,True
2347,False,False,True,True,True,False,False,False,True
2348,False,False,True,True,True,False,False,False,True
2349,False,False,True,True,True,False,False,False,True
2350,False,False,True,True,True,False,False,False,True
2351,False,False,True,True,True,False,False,True,True
2352,False,False,True,True,True,False,False,False,True
2353,False,False,True,True,True,False,False,False,True
2354,False,False,True,True,True,False,False,False,True
2355,False,False,True,True,True,False,False,True,True
2356,False,False,True,True,True,False,False,False,False
2357,False,False,True,True,True,False,False,False,True
2358,False,False,True,True,True,False,False,True,True
2359,False,False,True,True,True,False,False,True,False
2360,False,False,True,True,True,False,False,False,True
2361,False,False,True,True,True,False,False,False,False
2362,False,False,True,True,True,False,False,False,True
2363,False,False,True,True,True,False,False,True,False
2364,False,False,True,True,True,False,False,False,False
2365,False,False,True,True,True,False,False,False,False
2366,False,False,True,True,True,False,False,False,False
2367,False,False,True,True,True,False,False,False,True
2368,False,False,True,True,True,False,False,False,False
2369,False,False,True,True,True,False,False,False,True
2370,False,False,True,True,True,False,False,True,False
2371,False,False,True,True,True,False,False,False,True

In [16]:
data['IndustryVertical'].fillna('Consumer Internet', inplace = True)

In [18]:
data['CityLocation'].fillna('Bangalore', inplace = True)

In [19]:
data['InvestorsName'].fillna('Undisclosed Investors', inplace = True)

In [20]:
data['InvestmentType'].fillna('Seed Funding', inplace = True)

In [44]:
gr1['AmountInUSD'].median()

TypeError: could not convert string to float: '140,000'

In [33]:
data['IndustryVertical'].value_counts()

Consumer Internet                                          943
Technology                                                 313
eCommerce                                                  171
ECommerce                                                   53
Healthcare                                                  30
Logistics                                                   24
Education                                                   20
Food & Beverage                                             19
Finance                                                      9
Others                                                       6
Online Education Platform                                    5
Online Food Delivery                                         5
Real Estate                                                  4
Hyperlocal Handyman Services                                 3
Ecommerce                                                    3
FMCG                                                         3
Big Data & Analytics platform                                3
ecommerce                                                    3
Food Delivery Platform                                       3
Logistics Tech                                               3
Two-Wheeler Taxi Service                                     2
Online food ordering & Delivery service                      2
Logistics Tech Platform                                      2
Interface development platform for Government officials      2
Online Logistics Platform                                    2
Customer Engagement Platform                                 2
Online Hiring Platform                                       2
Online Payment Gateway                                       2
Digital / Mobile Wallet                                      2
Food & Beverages                                             2
                                                          ...
Branded Budget Hotel Marketplace                             1
Residential Rental management platform                       1
Virtual Reality Headset creator                              1
Online Lingerie platform                                     1
Health, Wellness & Beauty Services App                       1
Used Vehicles Marketplace                                    1
Home Fitting & Fixtures Marketplace                          1
Online Vehicle Spare Parts etailer                           1
B2B Mobile Auction Marketplace                               1
Contact Center Software Platform                             1
Used Bikes Marketplace                                       1
residential rental management platform                       1
Taxi Rental platform                                         1
Online Reputation Management Platform                        1
ECommerce Logistics provider                                 1
Designer fashion Jewellery Marketplace                       1
Picture based Social App                                     1
Digital Signal processing platform                           1
Crowd Funding Platform                                       1
Custom Made furniture e-tailer                               1
Ecommerce Logistics                                          1
QSR Restaurant Chain                                         1
End-to-End Lending platform                                  1
Online Lingerie Marketplace                                  1
Performance Optimization Platform for athletes               1
ecommerce related software product platform                  1
Tech Platform for property brokers                           1
Peer to Peer Lending platform                                1
Premium Apparel shopping portal                              1
Physical Storage warehouses                                  1
Name: IndustryVertical, Length: 743, dtype: int64

In [41]:
data.dtypes

Date                object
StartupName         object
IndustryVertical    object
SubVertical         object
CityLocation        object
InvestorsName       object
InvestmentType      object
AmountInUSD         object
Remarks             object
dtype: object

In [46]:
data.head(10)

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN
7,04/07/2017,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,"20,000,000",NaN
8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,"8,500,000",NaN
9,05/07/2017,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,"12,000,000",NaN

In [50]:
data['AmountInUSD']=data['AmountInUSD'].str.replace(',','').astype(np.float)

In [51]:
data.head(5)

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0,NaN
1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0,NaN
4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0,NaN

In [52]:
data.dtypes

Date                 object
StartupName          object
IndustryVertical     object
SubVertical          object
CityLocation         object
InvestorsName        object
InvestmentType       object
AmountInUSD         float64
Remarks              object
dtype: object

In [82]:
gr1=data.groupby('InvestorsName').get_group('Undisclosed Investors')

In [83]:
gr1

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD
12,06/07/2017,MyCity4kids,Consumer Internet,parenting blog and kidsâ€™ events discovery plat...,Gurgaon,Undisclosed Investors,Seed Funding,NaN
111,30/06/2017,Tagos Design,Technology,in-video discovery platform,Bangalore,Undisclosed Investors,Private Equity,5000000.0
168,24/05/2017,GenNext Students,Consumer Internet,Online Tutoring Services,Mumbai,Undisclosed Investors,Seed Funding,580000.0
171,29/05/2017,Cube Consumer Services,Consumer Internet,Finance management Mobile app,Mumbai,Undisclosed Investors,Seed Funding,NaN
173,29/05/2017,Wowflux,Technology,image Processing solution,New Delhi,Undisclosed Investors,Seed Funding,NaN
176,30/05/2017,SimpliLend,Consumer Internet,Online lending platform,New Delhi,Undisclosed Investors,Seed Funding,NaN
308,29/03/2017,Zapyle,ECommerce,Luxury Fashion Marketplace,Bangalore,Undisclosed Investors,Seed Funding,NaN
323,02/02/2017,Clodura,Technology,Intelligent Sales Assistant,Pune,Undisclosed Investors,Seed Funding,NaN
368,27/02/2017,Johari Shop,ECommerce,Online Jewellery etailer,Bangalore,Undisclosed Investors,Seed Funding,94000.0
398,16/01/2017,HipCouch,Consumer Internet,Custom & Modular Furniture platform,Mumbai,Undisclosed Investors,Seed Funding,700000.0
408,18/01/2017,Qwikspec,Technology,Cloud-based construction,Bangalore,Undisclosed Investors,Seed Funding,300000.0
441,31/01/2017,Heads Up For Tails,eCommerce,Online Pet Products Store,New Delhi,Undisclosed Investors,Private Equity,2000000.0
468,12/12/2016,Rupaiya Exchange,Consumer Internet,P2P Lending platform,New Delhi,Undisclosed Investors,Seed Funding,200000.0
489,20/12/2016,VivoCarat,eCommerce,Online jewellery marketplace,Mumbai,Undisclosed Investors,Seed Funding,50000.0
517,02/11/2016,LaundryAnna,Consumer Internet,On-Demand Washing & Dry Cleaning Services,Bangalore,Undisclosed Investors,Seed Funding,150000.0
675,06/9/2016,CheersOye!,Consumer Internet,Online Gift Vouchers platform,Mumbai,Undisclosed Investors,Seed Funding,500000.0
712,21/9/2016,Co Life,Consumer Internet,shared living and working spaces platform,Bangalore,Undisclosed Investors,Seed Funding,1000000.0
757,08/08/2016,Mojarto,eCommerce,"Original Art, Digital Prints etailer",Gurgaon,Undisclosed Investors,Seed Funding,445000.0
770,12/08/2016,Cuberoot,Technology,Data Analytics & Audience Management Platform,Gurgaon,Undisclosed Investors,Seed Funding,500000.0
884,20/07/2016,Tax2Win,Consumer Internet,Online Tax Filing Portal,Jaipur,Undisclosed Investors,Private Equity,1000000.0
891,01/6/2016,Chikoop,Consumer Internet,Free Ad based Voice Calling,Indore,Undisclosed Investors,Seed Funding,NaN
1021,11/5/2016,Zenify,Consumer Internet,Home rental Discovery & Booking Portal,Bangalore,Undisclosed Investors,Private Equity,900000.0
1048,20/5/2016,i2ifunding,Consumer Internet,Online Peer to Peer Funding,Noida,Undisclosed Investors,Seed Funding,300000.0
1067,31/5/2016,MachaDalo,Consumer Internet,Hyperlocal Advertising Platform,Mumbai,Undisclosed Investors,Seed Funding,175000.0
1105,15/04/2016,MInd Your Fleet,Consumer Internet,Car Rental Software,Noida,Undisclosed Investors,Seed Funding,NaN
1333,01/1/2016,Helpi,Consumer Internet,On Demand Cleaning Services Mobile App,Mumbai,Undisclosed Investors,Seed Funding,NaN
1350,07/01/2016,Bikxie,Consumer Internet,Two Wheeler Taxi Service,Gurgaon,Undisclosed Investors,Seed Funding,NaN
1441,01/12/2015,Zapluk,"Health, Wellness & Beauty Services App",NaN,Hyderabad,Undisclosed Investors,Seed Funding,NaN
1532,03/11/2015,LoanBaba,Online Loans Marketplace,NaN,Mumbai,Undisclosed Investors,Seed Funding,320000.0
1606,27/11/2015,JustRide,Self Driven Rental Car Platform,NaN,Mumbai,Undisclosed Investors,Private Equity,2000000.0
1645,09/10/2015,Stockroom.io,Developer Portfolio Showcase platform,NaN,Hyderabad,Undisclosed Investors,Seed Funding,70000.0
1662,14/10/2015,Zappfresh,Raw Meat & Ready to eat food etailer,NaN,Gurgaon,Undisclosed Investors,Seed Funding,77000.0
1736,11/09/2015,Zapyle,pre-used apparel shopping mobile app,NaN,Bangalore,Undisclosed Investors,Seed Funding,1000000.0
2018,05/06/2015,kWatt Solutions,Renewable energy solutions,NaN,Mumbai,Undisclosed Investors,Seed Funding,500000.0
2087,05/05/2015,Square Yards,Real Estate Advisory,NaN,Gurgaon,Undisclosed Investors,Private Equity,6000000.0
2105,12/05/2015,WorkHorse,Service-On-Demand Mobile App,NaN,Mumbai,Undisclosed Investors,Seed Funding,NaN
2109,14/05/2015,RedPolka,Online Fashion Aggregator,NaN,Mumbai,Undisclosed Investors,Seed Funding,250000.0
2140,04/04/2015,KeepTrax,Location Based App,NaN,Dallas / Hyderabad,Undisclosed Investors,Seed Funding,1000000.0
2211,11/03/2015,Appedo,Consumer Internet,NaN,Bangalore,Undisclosed Investors,Seed Funding,1000000.0
2336,12/01/2015,MyDreamStore,Consumer Internet,NaN,Bangalore,Undisclosed Investors,Seed Funding,290000.0
2354,21/01/2015,MyDreamStore,Consumer Internet,NaN,Bangalore,Undisclosed Investors,Seed Funding,325000.0

In [64]:
gr1.isnull().sum()

Date                 0
StartupName          0
IndustryVertical     0
SubVertical         14
CityLocation         0
InvestorsName        0
InvestmentType       0
AmountInUSD         12
Remarks             39
dtype: int64

In [58]:
gr1.isnull().sum()

Date                  0
StartupName           0
IndustryVertical      0
SubVertical         171
CityLocation          0
InvestorsName         0
InvestmentType        0
AmountInUSD         351
Remarks             875
dtype: int64

In [61]:
data['InvestorsName'].value_counts()

Undisclosed Investors                                         41
Undisclosed investors                                         27
Ratan Tata                                                    24
Indian Angel Network                                          24
Kalaari Capital                                               16
Group of Angel Investors                                      15
Sequoia Capital                                               14
undisclosed investors                                         11
Undisclosed Investor                                          10
RoundGlass Partners                                           10
Brand Capital                                                 10
Accel Partners                                                 9
Undisclosed                                                    9
Undisclosed investor                                           9
SAIF Partners                                                  9
Info Edge (India) Ltd                                          8
YouWeCan Ventures                                              7
Tiger Global                                                   7
Nexus Venture Partners                                         7
Unitus Seed Fund                                               7
Blume Ventures                                                 6
Trifecta Capital                                               6
The Chennai Angels                                             5
Venture Catalysts                                              5
ah! Ventures                                                   5
India Educational Investment Fund                              5
India Quotient                                                 5
Hyderabad Angels (at Startup Heroes event)                     5
SRI Capital                                                    5
Bessemer Venture Partners                                      5
                                                              ..
Sachin Bansal, Binny Bansal, Accel Partners & Others           1
Tiger Global, Sequoia Capital                                  1
Enablers platform                                              1
GWB Group, Blume Ventures                                      1
Carpediem Capital & Others                                     1
Anil Menon                                                     1
Tolaram Inc, Mountain Pine Capital                             1
Inventus Capital Partners, IDG Ventures                        1
Oliphabs Capital                                               1
Softbank, Tiger Global, Sequoia Capital, Apoletto Managers     1
Devesh Rai G, Rajesh Aggarwal, Amitpal Bhutani                 1
Tiger Global, Google Capital & Accel Partners                  1
Umesh Yadav                                                    1
Emerald Media, Premji Invest                                   1
Sarath Sura                                                    1
Tano Capital                                                   1
Kemark Ventures, Amit Ranjan, Zishaan Hayath and Others        1
Benori Ventures LLP                                            1
Daman Soni, Rajat Gupta & Others                               1
Intellecap Impact Investment Network, family office fund       1
Asia Pacific Internet Group                                    1
Kalaari Capital, YourNest Angel Fund                           1
Nexus Venture Partners, Omidyar Network                        1
Daljit Singh, Dr. Pramath Raj Sinha, BVR Mohan Reddy           1
Infuse Ventures, The Chennai Angels                            1
Private Sector Banks (Debt Funding)                            1
Sachin Bhatia, Rajesh Sawhney                                  1
YouWeCan Ventures,Â  Aprameya Radhakrishna                      1
Ajith Nair, Anish K                                            1
High Networth Individuals from India & USA                     1
Name: InvestorsName, Length: 1885, dtype: int64

In [66]:
data.isnull().sum()

Date                   0
StartupName            0
IndustryVertical       0
SubVertical          936
CityLocation           0
InvestorsName          0
InvestmentType         0
AmountInUSD          847
Remarks             1953
dtype: int64

In [77]:
data.groupby('IndustryVertical').get_group('Technology').isnull().sum()

Date                  0
StartupName           0
IndustryVertical      0
SubVertical           0
CityLocation          0
InvestorsName         0
InvestmentType        0
AmountInUSD         124
Remarks             313
dtype: int64

In [74]:
gr1['SubVertical'].value_counts()

Data Analytics platform                                   3
Business Intelligence Solutions                           1
Clean Water Technology                                    1
IT services & Talent collaboration services startup       1
Turnkey Solar Solutions                                   1
Data Analytics based Customer Management Services         1
Mobile Security App development & Distribution            1
Full Service Ecommerce Agency                             1
Smartphone OS Developer                                   1
SaaS-based predictive analytics platform                  1
Audio Technology Solutions                                1
Clinical research and data analytics                      1
Credit Worthiness Big Data Analytics                      1
Enterprise Cloud Solutions                                1
Parking Technology Platform                               1
Software solutions for M&As                               1
Affordable non-emergency medical service health plans     1
Credit Scoring Platform                                   1
Personal Assistant App                                    1
Engineering Interview facilitation platform               1
SAAS application for Pharma Industry                      1
Artificial Intelligence based marketing platform          1
Medical Technology Provider                               1
AI, Machine learning Solutions                            1
User analytics and engagement platform                    1
SAAS Based Media Marketing platform                       1
Enterprise Automation suite                               1
3D Printing Solutions for Edu space                       1
Interactive Tech-Support Guides                           1
Safe driving Analytics platform                           1
                                                         ..
Connected Smart Home Solutions                            1
Online payments platform                                  1
in-video discovery platform                               1
Mobile OS creator                                         1
Virtual Reality Solutions                                 1
Mobile Game Developer Studio                              1
Speech Recognition Solutions                              1
unmanned aerial vehicles creator                          1
Computer Vision on Embedded Systems                       1
Project Management tool                                   1
Hybrid Cloud technology enabled Media ERP platform        1
Integrated Enterprise Analytics Platform                  1
Chatbot creation tool                                     1
Artificial Intelligence Platform                          1
Healthcare Software System                                1
Mobile games creator                                      1
Content Management & Productivity platform                1
AI-based Software as a Service Solution provider          1
Intelligent Sales Prospecting Platform                    1
Healthcare related IoT platform                           1
Software-As-a-Service Platform                            1
Cyber-Security Solutions Provider                         1
Software Solutions for Auto Dealership                    1
Telecom & Media IT services company                       1
Mobile Apps & Tech Services provider                      1
Sustainable Green Tech Solution developer                 1
Direct-to-Farmer Mobile-Based Retail platform             1
CRM Software for Healthcare space                         1
IoT smart Logistics and Asset Management Company          1
Blended Learning Delivery App for Schools & Corporates    1
Name: SubVertical, Length: 311, dtype: int64

In [79]:
data.isnull().sum()

Date                   0
StartupName            0
IndustryVertical       0
SubVertical          936
CityLocation           0
InvestorsName          0
InvestmentType         0
AmountInUSD          847
Remarks             1953
dtype: int64

In [80]:
data.drop(['Remarks'],axis=1,inplace=True)

In [81]:
data

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD
0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0
1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN
2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN
3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0
4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0
5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,1000000.0
6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,2600000.0
7,04/07/2017,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,20000000.0
8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,8500000.0
9,05/07/2017,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,12000000.0
10,05/07/2017,Timesaverz,Consumer Internet,Hyperlocal home services provider,Mumbai,BCCL,Private Equity,1000000.0
11,06/07/2017,Minjar,Technology,Cloud Solutions provider,Bangalore,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding,NaN
12,06/07/2017,MyCity4kids,Consumer Internet,parenting blog and kidsâ€™ events discovery plat...,Gurgaon,Undisclosed Investors,Seed Funding,NaN
13,07/07/2017,Clip App,Consumer Internet,Digital Media Video platform,Bangalore,"India Quotient, Shunwei Capital",Seed Funding,1000000.0
14,07/07/2017,Upwardly.in,Consumer Internet,MF investment platform,Bangalore,"Sreeram Iyer, Suvo Sarkar, Anita Gupta, Likemi...",Seed Funding,NaN
15,10/07/2017,Autorox.co,Technology,Workshop Management Software Platform,Hyderabad,Mitsui & Co.,Private Equity,3000000.0
16,11/07/2017,Fabogo,Consumer Internet,Salon & Spa Aggregation & Discovery platform,Pune,Dunamis Ventures Pte Ltd,Private Equity,2250000.0
17,11/07/2017,Flickstree,Consumer Internet,Video Content Discovery Platform,Mumbai,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding,464000.0
18,11/07/2017,Design Cafe,Consumer Internet,Online Interior Design platform,Bangalore,"Fireside Ventures, Apurva Salarpuria, Sidharth...",Seed Funding,NaN
19,12/07/2017,Innoviti,Technology,Digital payments solutions,Bangalore,"SBI-FMO Fund, Bessemer Venture Partners, Catam...",Private Equity,18500000.0
20,12/07/2017,VDeliver,Logistics,Door Step Delivery platform,Hyderabad,"Corvus Ventures, MAPE Advisory Group",Private Equity,NaN
21,12/07/2017,Bottr.me,Technology,Chatbot creation tool,Bangalore,"500 Startups, Purvi Capital, Rajan Anandan, Ab...",Seed Funding,NaN
22,12/07/2017,Arcatron,Technology,Next Gen Mobility device manufacturer,Pune,Indian Angel Network,Seed Funding,NaN
23,14/07/2017,QwikSpec,Technology,Construction site operations and analytics pla...,Bangalore,"Brigade Innovations LLP, TV Mohandas Pai, Suha...",Seed Funding,540000.0
24,14/07/2017,Chumbak,eCommerce,Designer consumer products Marketplace,Bangalore,Blacksoil Capital Pvt. Ltd,Private Equity,1700000.0
25,17/07/2017,Increff,Technology,Sales Solutions for Fashion Brands,Bangalore,"Sequoia Capital, Grey Orange, Rajesh Ramaiah, ...",Seed Funding,2000000.0
26,17/07/2017,Vayana,Technology,Enterprise Banking Solutions,Pune,"IDG Ventures India Advisors, Jungle Ventures",Private Equity,4000000.0
27,18/07/2017,MObiquest,Technology,Mobile Services & Solutions,Noida,One97 Communication Ltd,Private Equity,NaN
28,18/07/2017,Ambee,Consumer Internet,Ambulance Aggregation Services,Hyderabad,"Uber Technologies Inc, Amaya Capital LLP",Seed Funding,NaN
29,18/07/2017,Ideal Insurance,Consumer Internet,Online Insurance platform,Kolkata,Xelpmoc,Seed Funding,NaN
...,...,...,...,...,...,...,...,...
2342,19/01/2015,Refiral,Consumer Internet,NaN,Bangalore,Cogent E Services,Seed Funding,330000.0
2343,19/01/2015,Ping Digital,Consumer Internet,NaN,Bangalore,Consortium of Angel Investors,Seed Funding,NaN
2344,19/01/2015,HealthyWorld.in,Consumer Internet,NaN,Bangalore,Group of Angel Investors,Seed Funding,200000.0
2345,19/01/2015,Hostel Dunia,Consumer Internet,NaN,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2346,19/01/2015,Play your sport,Consumer Internet,NaN,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2347,19/01/2015,Yo Grad,Consumer Internet,NaN,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2348,19/01/2015,Enabli,Consumer Internet,NaN,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2349,19/01/2015,CBS,Consumer Internet,NaN,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2350,20/01/2015,Hopscotch,Consumer Internet,NaN,Bangalore,Eduardo Saverin & Velos Capital,Private Equity,11000000.0
2351,20/01/2015,Amagi Media Labs,Consumer Internet,NaN,Bangalore,Premji Invest & Mayfield Fund,Private Equity,NaN
2352,20/01/2015,HealthyWorld.in,Consumer Internet,NaN,Bangalore,Group of Angel Investors,Seed Funding,200000.0
2353,21/01/2015,Simplilearn,Consumer Internet,NaN,Bangalore,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,14750000.0
2354,21/01/2015,MyDreamStore,Consumer Internet,NaN,Bangalore,Undisclosed Investors,Seed Funding,325000.0
2355,21/05/2015,Knit,Consumer Internet,NaN,Bangalore,"Rohit Jain, Amit Rambhia & Others",Seed Funding,NaN
2356,21/05/2015,Villgro,Consumer Internet,NaN,Bangalore,Michael & Susan Dell Foundation,Seed Funding,3250000.0
2357,22/01//2015,Corporate360,Consumer Internet,NaN,Bangalore,Group of Angel Investors,Seed Funding,200000.0
2358,22/01/2015,Freshmonk,Consumer Internet,NaN,Bangalore,"August Capital Partners, Michael Blakey",Seed Funding,NaN
2359,22/01/2015,Englishleap.com,Consumer Internet,NaN,Bangalore,ANALEC,Private Equity,NaN
2360,22/01/2015,Antuit,Consumer Internet,NaN,Bangalore,"Goldman Sachs, Zodius Capital",Private Equity,56000000.0
2361,22/01/2015,Caratlane.com,Consumer Internet,NaN,Bangalore,Tiger Global,Private Equity,31000000.0
2362,24/01/2015,Aasaanjobs,Consumer Internet,NaN,Bangalore,"Inventus Capital Partners, IDG Ventures",Seed Funding,1500000.0
2363,24/01/2015,Impartus,Consumer Internet,NaN,Bangalore,Kaizen Private Equity,Private Equity,NaN
2364,25/01/2015,Thrill App,Consumer Internet,NaN,Bangalore,People Group (Shaadi.com),Private Equity,1000000.0
2365,27/01/2015,CarDekho.com,Consumer Internet,NaN,Bangalore,"Hillhouse Capital, Tybourne Capital",Private Equity,50000000.0
2366,28/01/2015,Grabhouse.com,Consumer Internet,NaN,Bangalore,"Kalaari Capital, Sequoia Capital",Private Equity,2500000.0
2367,29/01/2015,Printvenue,Consumer Internet,NaN,Bangalore,Asia Pacific Internet Group,Private Equity,4500000.0
2368,29/01/2015,Graphene,Consumer Internet,NaN,Bangalore,KARSEMVEN Fund,Private Equity,825000.0
2369,30/01/2015,Mad Street Den,Consumer Internet,NaN,Bangalore,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000.0
2370,30/01/2015,Simplotel,Consumer Internet,NaN,Bangalore,MakeMyTrip,Private Equity,NaN
2371,31/01/2015,couponmachine.in,Consumer Internet,NaN,Bangalore,UK based Group of Angel Investors,Seed Funding,140000.0

In [84]:
data['CityLocation'].value_counts()

Bangalore                806
Mumbai                   446
New Delhi                381
Gurgaon                  240
Pune                      84
Noida                     78
Hyderabad                 76
Chennai                   66
Ahmedabad                 35
Jaipur                    25
Kolkata                   19
Chandigarh                10
Vadodara                   9
Indore                     9
Goa                        7
Singapore                  5
Pune / US                  4
Delhi                      4
Kanpur                     4
Coimbatore                 3
Bangalore/ Bangkok         2
Siliguri                   2
Gwalior                    2
Bhopal                     2
Kochi                      2
New Delhi / US             2
Bangalore / SFO            2
Agra                       2
Udupi                      2
Trivandrum                 2
                        ...
SFO / Bangalore            1
Jodhpur                    1
US                         1
USA/India                  1
Pune / Singapore           1
London                     1
Kerala                     1
New York/ India            1
Mumbai / UK                1
US/India                   1
Goa/Hyderabad              1
Belgaum                    1
New Delhi/ Houston         1
Udaipur                    1
Pune / Dubai               1
Bangalore / San Mateo      1
Panaji                     1
Varanasi                   1
Bangalore / USA            1
Lucknow                    1
Hyderabad/USA              1
India / US                 1
Seattle / Bangalore        1
Dallas / Hyderabad         1
Karur                      1
Nagpur                     1
Missourie                  1
Mumbai / Global            1
Chennai/ Singapore         1
Boston                     1
Name: CityLocation, Length: 71, dtype: int64

In [85]:
data.isnull().sum()

Date                  0
StartupName           0
IndustryVertical      0
SubVertical         936
CityLocation          0
InvestorsName         0
InvestmentType        0
AmountInUSD         847
dtype: int64

In [88]:
data['SubVertical'].fillna('Undisclosed',inplace=True)

In [89]:
data.isnull().sum()

Date                  0
StartupName           0
IndustryVertical      0
SubVertical           0
CityLocation          0
InvestorsName         0
InvestmentType        0
AmountInUSD         847
dtype: int64

In [252]:
data

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD
0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,1300000.0
1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN
2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN
3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,500000.0
4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,850000.0
5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,1000000.0
6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,2600000.0
7,04/07/2017,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,20000000.0
8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,8500000.0
9,05/07/2017,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,12000000.0
10,05/07/2017,Timesaverz,Consumer Internet,Hyperlocal home services provider,Mumbai,BCCL,Private Equity,1000000.0
11,06/07/2017,Minjar,Technology,Cloud Solutions provider,Bangalore,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding,NaN
12,06/07/2017,MyCity4kids,Consumer Internet,parenting blog and kidsâ€™ events discovery plat...,Gurgaon,Undisclosed Investors,Seed Funding,NaN
13,07/07/2017,Clip App,Consumer Internet,Digital Media Video platform,Bangalore,"India Quotient, Shunwei Capital",Seed Funding,1000000.0
14,07/07/2017,Upwardly.in,Consumer Internet,MF investment platform,Bangalore,"Sreeram Iyer, Suvo Sarkar, Anita Gupta, Likemi...",Seed Funding,NaN
15,10/07/2017,Autorox.co,Technology,Workshop Management Software Platform,Hyderabad,Mitsui & Co.,Private Equity,3000000.0
16,11/07/2017,Fabogo,Consumer Internet,Salon & Spa Aggregation & Discovery platform,Pune,Dunamis Ventures Pte Ltd,Private Equity,2250000.0
17,11/07/2017,Flickstree,Consumer Internet,Video Content Discovery Platform,Mumbai,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding,464000.0
18,11/07/2017,Design Cafe,Consumer Internet,Online Interior Design platform,Bangalore,"Fireside Ventures, Apurva Salarpuria, Sidharth...",Seed Funding,NaN
19,12/07/2017,Innoviti,Technology,Digital payments solutions,Bangalore,"SBI-FMO Fund, Bessemer Venture Partners, Catam...",Private Equity,18500000.0
20,12/07/2017,VDeliver,Logistics,Door Step Delivery platform,Hyderabad,"Corvus Ventures, MAPE Advisory Group",Private Equity,NaN
21,12/07/2017,Bottr.me,Technology,Chatbot creation tool,Bangalore,"500 Startups, Purvi Capital, Rajan Anandan, Ab...",Seed Funding,NaN
22,12/07/2017,Arcatron,Technology,Next Gen Mobility device manufacturer,Pune,Indian Angel Network,Seed Funding,NaN
23,14/07/2017,QwikSpec,Technology,Construction site operations and analytics pla...,Bangalore,"Brigade Innovations LLP, TV Mohandas Pai, Suha...",Seed Funding,540000.0
24,14/07/2017,Chumbak,eCommerce,Designer consumer products Marketplace,Bangalore,Blacksoil Capital Pvt. Ltd,Private Equity,1700000.0
25,17/07/2017,Increff,Technology,Sales Solutions for Fashion Brands,Bangalore,"Sequoia Capital, Grey Orange, Rajesh Ramaiah, ...",Seed Funding,2000000.0
26,17/07/2017,Vayana,Technology,Enterprise Banking Solutions,Pune,"IDG Ventures India Advisors, Jungle Ventures",Private Equity,4000000.0
27,18/07/2017,MObiquest,Technology,Mobile Services & Solutions,Noida,One97 Communication Ltd,Private Equity,NaN
28,18/07/2017,Ambee,Consumer Internet,Ambulance Aggregation Services,Hyderabad,"Uber Technologies Inc, Amaya Capital LLP",Seed Funding,NaN
29,18/07/2017,Ideal Insurance,Consumer Internet,Online Insurance platform,Kolkata,Xelpmoc,Seed Funding,NaN
...,...,...,...,...,...,...,...,...
2342,19/01/2015,Refiral,Consumer Internet,Undisclosed,Bangalore,Cogent E Services,Seed Funding,330000.0
2343,19/01/2015,Ping Digital,Consumer Internet,Undisclosed,Bangalore,Consortium of Angel Investors,Seed Funding,NaN
2344,19/01/2015,HealthyWorld.in,Consumer Internet,Undisclosed,Bangalore,Group of Angel Investors,Seed Funding,200000.0
2345,19/01/2015,Hostel Dunia,Consumer Internet,Undisclosed,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2346,19/01/2015,Play your sport,Consumer Internet,Undisclosed,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2347,19/01/2015,Yo Grad,Consumer Internet,Undisclosed,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2348,19/01/2015,Enabli,Consumer Internet,Undisclosed,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2349,19/01/2015,CBS,Consumer Internet,Undisclosed,Bangalore,Hyderabad Angels (at Startup Heroes event),Seed Funding,16000.0
2350,20/01/2015,Hopscotch,Consumer Internet,Undisclosed,Bangalore,Eduardo Saverin & Velos Capital,Private Equity,11000000.0
2351,20/01/2015,Amagi Media Labs,Consumer Internet,Undisclosed,Bangalore,Premji Invest & Mayfield Fund,Private Equity,NaN
2352,20/01/2015,HealthyWorld.in,Consumer Internet,Undisclosed,Bangalore,Group of Angel Investors,Seed Funding,200000.0
2353,21/01/2015,Simplilearn,Consumer Internet,Undisclosed,Bangalore,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,14750000.0
2354,21/01/2015,MyDreamStore,Consumer Internet,Undisclosed,Bangalore,Undisclosed Investors,Seed Funding,325000.0
2355,21/05/2015,Knit,Consumer Internet,Undisclosed,Bangalore,"Rohit Jain, Amit Rambhia & Others",Seed Funding,NaN
2356,21/05/2015,Villgro,Consumer Internet,Undisclosed,Bangalore,Michael & Susan Dell Foundation,Seed Funding,3250000.0
2357,22/01//2015,Corporate360,Consumer Internet,Undisclosed,Bangalore,Group of Angel Investors,Seed Funding,200000.0
2358,22/01/2015,Freshmonk,Consumer Internet,Undisclosed,Bangalore,"August Capital Partners, Michael Blakey",Seed Funding,NaN
2359,22/01/2015,Englishleap.com,Consumer Internet,Undisclosed,Bangalore,ANALEC,Private Equity,NaN
2360,22/01/2015,Antuit,Consumer Internet,Undisclosed,Bangalore,"Goldman Sachs, Zodius Capital",Private Equity,56000000.0
2361,22/01/2015,Caratlane.com,Consumer Internet,Undisclosed,Bangalore,Tiger Global,Private Equity,31000000.0
2362,24/01/2015,Aasaanjobs,Consumer Internet,Undisclosed,Bangalore,"Inventus Capital Partners, IDG Ventures",Seed Funding,1500000.0
2363,24/01/2015,Impartus,Consumer Internet,Undisclosed,Bangalore,Kaizen Private Equity,Private Equity,NaN
2364,25/01/2015,Thrill App,Consumer Internet,Undisclosed,Bangalore,People Group (Shaadi.com),Private Equity,1000000.0
2365,27/01/2015,CarDekho.com,Consumer Internet,Undisclosed,Bangalore,"Hillhouse Capital, Tybourne Capital",Private Equity,50000000.0
2366,28/01/2015,Grabhouse.com,Consumer Internet,Undisclosed,Bangalore,"Kalaari Capital, Sequoia Capital",Private Equity,2500000.0
2367,29/01/2015,Printvenue,Consumer Internet,Undisclosed,Bangalore,Asia Pacific Internet Group,Private Equity,4500000.0
2368,29/01/2015,Graphene,Consumer Internet,Undisclosed,Bangalore,KARSEMVEN Fund,Private Equity,825000.0
2369,30/01/2015,Mad Street Den,Consumer Internet,Undisclosed,Bangalore,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000.0
2370,30/01/2015,Simplotel,Consumer Internet,Undisclosed,Bangalore,MakeMyTrip,Private Equity,NaN
2371,31/01/2015,couponmachine.in,Consumer Internet,Undisclosed,Bangalore,UK based Group of Angel Investors,Seed Funding,140000.0

In [253]:
df1 = pd.concat([data, pd.get_dummies(data['IndustryVertical'])], axis=1)
df1.drop(['IndustryVertical'],axis=1,inplace=True)

In [254]:
df2 = pd.concat([df1, pd.get_dummies(df1['SubVertical'])], axis=1)
df2.drop(['SubVertical'],axis=1,inplace=True)

In [255]:
df3 = pd.concat([df2, pd.get_dummies(df2['CityLocation'])], axis=1)
df3.drop(['CityLocation'],axis=1,inplace=True)

In [256]:
df4 = pd.concat([df3, pd.get_dummies(df3['InvestorsName'])], axis=1)
df4.drop(['InvestorsName'],axis=1,inplace=True)

In [257]:
df5 = pd.concat([df4, pd.get_dummies(df4['InvestmentType'])], axis=1)
df5.drop(['InvestmentType'],axis=1,inplace=True)

In [258]:
df5

,Date,StartupName,AmountInUSD,360-degree view creating platform,3D Printer Manufacturer,API Workflow platform,Activity Based Social Network,Advertising & Marketing Community Networking platform,Affordable Education,Affordable Hotel Booking Online,...,undisclosed investors,undisclosed private investors,vCommission,Crowd Funding,Crowd funding,Debt Funding,Private Equity,PrivateEquity,Seed Funding,SeedFunding
0,01/08/2017,TouchKin,1300000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,02/08/2017,Ethinos,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,02/08/2017,Leverage Edu,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,02/08/2017,Zepo,500000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,02/08/2017,Click2Clinic,850000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,01/07/2017,Billion Loans,1000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,03/07/2017,Ecolibriumenergy,2600000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,04/07/2017,Droom,20000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,05/07/2017,Jumbotail,8500000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9,05/07/2017,Moglix,12000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10,05/07/2017,Timesaverz,1000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11,06/07/2017,Minjar,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,06/07/2017,MyCity4kids,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13,07/07/2017,Clip App,1000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,07/07/2017,Upwardly.in,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,10/07/2017,Autorox.co,3000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16,11/07/2017,Fabogo,2250000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
17,11/07/2017,Flickstree,464000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,11/07/2017,Design Cafe,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,12/07/2017,Innoviti,18500000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,12/07/2017,VDeliver,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
21,12/07/2017,Bottr.me,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,12/07/2017,Arcatron,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,14/07/2017,QwikSpec,540000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,14/07/2017,Chumbak,1700000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
25,17/07/2017,Increff,2000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,17/07/2017,Vayana,4000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27,18/07/2017,MObiquest,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
28,18/07/2017,Ambee,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,18/07/2017,Ideal Insurance,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2342,19/01/2015,Refiral,330000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2343,19/01/2015,Ping Digital,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2344,19/01/2015,HealthyWorld.in,200000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2345,19/01/2015,Hostel Dunia,16000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2346,19/01/2015,Play your sport,16000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2347,19/01/2015,Yo Grad,16000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2348,19/01/2015,Enabli,16000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2349,19/01/2015,CBS,16000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2350,20/01/2015,Hopscotch,11000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2351,20/01/2015,Amagi Media Labs,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2352,20/01/2015,HealthyWorld.in,200000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2353,21/01/2015,Simplilearn,14750000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2354,21/01/2015,MyDreamStore,325000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2355,21/05/2015,Knit,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2356,21/05/2015,Villgro,3250000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2357,22/01//2015,Corporate360,200000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2358,22/01/2015,Freshmonk,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2359,22/01/2015,Englishleap.com,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2360,22/01/2015,Antuit,56000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2361,22/01/2015,Caratlane.com,31000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2362,24/01/2015,Aasaanjobs,1500000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2363,24/01/2015,Impartus,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2364,25/01/2015,Thrill App,1000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2365,27/01/2015,CarDekho.com,50000000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2366,28/01/2015,Grabhouse.com,2500000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2367,29/01/2015,Printvenue,4500000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2368,29/01/2015,Graphene,825000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2369,30/01/2015,Mad Street Den,1500000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2370,30/01/2015,Simplotel,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2371,31/01/2015,couponmachine.in,140000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [259]:
df = df5.Date.str.split(pat="/",n=2,expand=True)
#print(df.head(20))
df5["Date_day"]= df.iloc[:,0]
df5["Date_month"]= df.iloc[:,1]
df5["Date_year"]= df.iloc[:,2]

In [260]:
df5.drop(['Date'],axis=1,inplace=True)

In [207]:
df5.columns

Index(['StartupName', 'AmountInUSD', '360-degree view creating platform',
       '3D Printer Manufacturer', 'API Workflow platform',
       'Activity Based Social Network',
       'Advertising & Marketing Community Networking platform',
       'Affordable Education', 'Affordable Hotel Booking Online',
       'Algorithmic Match Making Platform',
       ...
       'Crowd Funding', 'Crowd funding', 'Debt Funding', 'Private Equity',
       'PrivateEquity', 'Seed Funding', 'SeedFunding', 'Date_day',
       'Date_month', 'Date_year'],
      dtype='object', length=4076)

In [115]:
df4.columns

Index(['Date', 'StartupName', 'InvestmentType', 'AmountInUSD',
       '360-degree view creating platform', '3D Printer Manufacturer',
       'API Workflow platform', 'Activity Based Social Network',
       'Advertising & Marketing Community Networking platform',
       'Affordable Education',
       ...
       'iBhubs', 'mall Industries Development Bank of India (SIDBI)',
       'pi Ventures, Axilor Ventures, 500 Startups, Binny Bansal',
       'pi Ventures, Blume Ventures',
       'responsAbility Investments, Infuse Ventures',
       'ru-Net, Sequoia Capital,Â  Lightbox Ventures', 'undisclosed investor',
       'undisclosed investors', 'undisclosed private investors',
       'vCommission'],
      dtype='object', length=4068)

In [208]:
df5.dtypes

StartupName                                                  object
AmountInUSD                                                 float64
360-degree view creating platform                             uint8
3D Printer Manufacturer                                       uint8
API Workflow platform                                         uint8
Activity Based Social Network                                 uint8
Advertising & Marketing Community Networking platform         uint8
Affordable Education                                          uint8
Affordable Hotel Booking Online                               uint8
Algorithmic Match Making Platform                             uint8
Alternate Mobile Monetization platform                        uint8
App Analytics platform                                        uint8
App based Bus Pooling Services                                uint8
App based Fitness coaching                                    uint8
App securityÂ  testing platform                                uint8
Architectural Design & Consulting                             uint8
Artificial Intelligence Ecommerce Chatbot                     uint8
Artificial Intelligence platform                              uint8
Artist / Designer Marketplace                                 uint8
Asset Financing platform                                      uint8
Auto                                                          uint8
Auto Insurance Online platform                                uint8
Auto Rickshaw Based Services                                  uint8
Auto Rickshaw based Logistics                                 uint8
Automated Storage & Warehousing Solution                      uint8
Automotive Services platform                                  uint8
Autorickshaw Aggregator & Booking platform                    uint8
B2B Merchandize platform                                      uint8
B2B Mobile Auction Marketplace                                uint8
B2B eCommerce Marketplace                                     uint8
                                                             ...
ah! Ventures, Viktor Koenig PE Fund, Mantra Ventures          uint8
ah! Ventures, Vivek Joshi, Mohit Satyanand & others           uint8
ain Capital Ventures, Renaud Laplanche                        uint8
blockchain ecosystem Global Advisors, Horseferry              uint8
growX ventures                                                uint8
growX ventures,Â  Manish Singhal                               uint8
havya Sharma, Amit Nagar                                      uint8
hooting Starts Sports LLP, Franchise India Brands             uint8
i2india Pvt Ltd                                               uint8
i2india Ventures                                              uint8
iBhubs                                                        uint8
mall Industries Development Bank of India (SIDBI)             uint8
pi Ventures, Axilor Ventures, 500 Startups, Binny Bansal      uint8
pi Ventures, Blume Ventures                                   uint8
responsAbility Investments, Infuse Ventures                   uint8
ru-Net, Sequoia Capital,Â  Lightbox Ventures                   uint8
undisclosed investor                                          uint8
undisclosed investors                                         uint8
undisclosed private investors                                 uint8
vCommission                                                   uint8
Crowd Funding                                                 uint8
Crowd funding                                                 uint8
Debt Funding                                                  uint8
Private Equity                                                uint8
PrivateEquity                                                 uint8
Seed Funding                                                  uint8
SeedFunding                                                   uint8
Date_day                                                     object
Date_month                                                   object
Date_year                                                    object
Length: 4076, dtype: object

In [261]:
df_final = df5[np.isfinite(df5['AmountInUSD'])]

In [262]:
df_final

,StartupName,AmountInUSD,360-degree view creating platform,3D Printer Manufacturer,API Workflow platform,Activity Based Social Network,Advertising & Marketing Community Networking platform,Affordable Education,Affordable Hotel Booking Online,Algorithmic Match Making Platform,...,Crowd Funding,Crowd funding,Debt Funding,Private Equity,PrivateEquity,Seed Funding,SeedFunding,Date_day,Date_month,Date_year
0,TouchKin,1300000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,01,08,2017
3,Zepo,500000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017
4,Click2Clinic,850000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017
5,Billion Loans,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,01,07,2017
6,Ecolibriumenergy,2600000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,03,07,2017
7,Droom,20000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,04,07,2017
8,Jumbotail,8500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
9,Moglix,12000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
10,Timesaverz,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
13,Clip App,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,07,07,2017
15,Autorox.co,3000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,10,07,2017
16,Fabogo,2250000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,11,07,2017
17,Flickstree,464000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,11,07,2017
19,Innoviti,18500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,12,07,2017
23,QwikSpec,540000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,14,07,2017
24,Chumbak,1700000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,07,2017
25,Increff,2000000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,17,07,2017
26,Vayana,4000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,17,07,2017
31,Rentomojo,10000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,19,07,2017
33,Playablo,600000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,07,2017
34,Trupay,700000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,07,2017
35,Brick2Wall,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,07,2017
39,Noticeboard,1200000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017
40,Byjuâ€™s,35000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017
42,Fab Hotels,25000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,26,07,2017
43,ThinkerBell,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,07,2017
44,1mg,15000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,07,2017
46,BigStylist,1250000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,07,2017
50,Goomo,50000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,06,2017
52,Spinny,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,06,06,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331,Commonfloor,5000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,07,01,2015
2333,YepMe,13000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,09,01,2015
2336,MyDreamStore,290000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,12,01,2015
2338,RateGain,50000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,01,2015
2339,Wishberry,650000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,15,01.2015,None
2340,eKincare,161000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,16,01,2015
2341,ShopClues,100000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,18,01,2015
2342,Refiral,330000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2344,HealthyWorld.in,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2345,Hostel Dunia,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2346,Play your sport,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2347,Yo Grad,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2348,Enabli,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2349,CBS,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2350,Hopscotch,11000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,20,01,2015
2352,HealthyWorld.in,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,01,2015
2353,Simplilearn,14750000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,21,01,2015
2354,MyDreamStore,325000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,01,2015
2356,Villgro,3250000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,05,2015
2357,Corporate360,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,22,01,/2015
2360,Antuit,56000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015
2361,Caratlane.com,31000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015
2362,Aasaanjobs,1500000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,24,01,2015
2364,Thrill App,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,01,2015
2365,CarDekho.com,50000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,01,2015
2366,Grabhouse.com,2500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,01,2015
2367,Printvenue,4500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015
2368,Graphene,825000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015
2369,Mad Street Den,1500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,30,01,2015
2371,couponmachine.in,140000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,31,01,2015

In [267]:
df_final=df_final.dropna()

In [268]:
df_final.shape

(1522, 4076)

In [269]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [270]:
y=df_final.iloc[:,1]

In [271]:
X=df_final

In [272]:
X.drop(['StartupName'],axis=1,inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [273]:
X.drop(['AmountInUSD'],axis=1,inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [279]:
    
X_train, X_test, y_train, y_test = train_test_split(
                                    X, y, random_state=42, test_size=0.30)
lr =LinearRegression()
my_model = lr.fit(X_train, y_train)
    
train_predictions = my_model.predict(X_train)
train_rmse = np.sqrt(mean_squared_error(y_train, train_predictions))
print('train error: ', train_rmse)
    
predictions = my_model.predict(X_test)
test_rmse = np.sqrt(mean_squared_error(y_test, predictions))
print('test_error : ', test_rmse)
    
print('Accuracies: Train: {}'.format(my_model.score(X_train, y_train)))
print('Accuracies: Test : {}'.format(my_model.score(X_test, y_test)))

train error:  207862.72445062766
test_error :  1719955626501241.8
Accuracies: Train: 0.9999860481587822
Accuracies: Test : -458367089565348.75

In [143]:
X=X['Date_year'].fillna(X['Date_year'].mode())

In [145]:
type(X['Date_year'])

KeyError: 'Date_year'

In [217]:
X

,StartupName,AmountInUSD,360-degree view creating platform,3D Printer Manufacturer,API Workflow platform,Activity Based Social Network,Advertising & Marketing Community Networking platform,Affordable Education,Affordable Hotel Booking Online,Algorithmic Match Making Platform,...,Crowd Funding,Crowd funding,Debt Funding,Private Equity,PrivateEquity,Seed Funding,SeedFunding,Date_day,Date_month,Date_year
0,TouchKin,1300000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,01,08,2017
3,Zepo,500000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017
4,Click2Clinic,850000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017
5,Billion Loans,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,01,07,2017
6,Ecolibriumenergy,2600000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,03,07,2017
7,Droom,20000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,04,07,2017
8,Jumbotail,8500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
9,Moglix,12000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
10,Timesaverz,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
13,Clip App,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,07,07,2017
15,Autorox.co,3000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,10,07,2017
16,Fabogo,2250000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,11,07,2017
17,Flickstree,464000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,11,07,2017
19,Innoviti,18500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,12,07,2017
23,QwikSpec,540000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,14,07,2017
24,Chumbak,1700000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,07,2017
25,Increff,2000000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,17,07,2017
26,Vayana,4000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,17,07,2017
31,Rentomojo,10000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,19,07,2017
33,Playablo,600000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,07,2017
34,Trupay,700000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,07,2017
35,Brick2Wall,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,07,2017
39,Noticeboard,1200000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017
40,Byjuâ€™s,35000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017
42,Fab Hotels,25000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,26,07,2017
43,ThinkerBell,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,07,2017
44,1mg,15000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,07,2017
46,BigStylist,1250000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,07,2017
50,Goomo,50000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,06,2017
52,Spinny,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,06,06,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331,Commonfloor,5000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,07,01,2015
2333,YepMe,13000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,09,01,2015
2336,MyDreamStore,290000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,12,01,2015
2338,RateGain,50000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,01,2015
2339,Wishberry,650000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,15,01.2015,None
2340,eKincare,161000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,16,01,2015
2341,ShopClues,100000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,18,01,2015
2342,Refiral,330000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2344,HealthyWorld.in,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2345,Hostel Dunia,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2346,Play your sport,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2347,Yo Grad,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2348,Enabli,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2349,CBS,16000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2350,Hopscotch,11000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,20,01,2015
2352,HealthyWorld.in,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,01,2015
2353,Simplilearn,14750000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,21,01,2015
2354,MyDreamStore,325000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,01,2015
2356,Villgro,3250000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,05,2015
2357,Corporate360,200000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,22,01,/2015
2360,Antuit,56000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015
2361,Caratlane.com,31000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015
2362,Aasaanjobs,1500000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,24,01,2015
2364,Thrill App,1000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,01,2015
2365,CarDekho.com,50000000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,01,2015
2366,Grabhouse.com,2500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,01,2015
2367,Printvenue,4500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015
2368,Graphene,825000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015
2369,Mad Street Den,1500000.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,30,01,2015
2371,couponmachine.in,140000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,31,01,2015

In [154]:
X['Date_year'].fillna(X['Date_year'].mode(),inplace=True)

In [155]:
X.isnull().sum()

360-degree view creating platform                           0
3D Printer Manufacturer                                     0
API Workflow platform                                       0
Activity Based Social Network                               0
Advertising & Marketing Community Networking platform       0
Affordable Education                                        0
Affordable Hotel Booking Online                             0
Algorithmic Match Making Platform                           0
Alternate Mobile Monetization platform                      0
App Analytics platform                                      0
App based Bus Pooling Services                              0
App based Fitness coaching                                  0
App securityÂ  testing platform                              0
Architectural Design & Consulting                           0
Artificial Intelligence Ecommerce Chatbot                   0
Artificial Intelligence platform                            0
Artist / Designer Marketplace                               0
Asset Financing platform                                    0
Auto                                                        0
Auto Insurance Online platform                              0
Auto Rickshaw Based Services                                0
Auto Rickshaw based Logistics                               0
Automated Storage & Warehousing Solution                    0
Automotive Services platform                                0
Autorickshaw Aggregator & Booking platform                  0
B2B Merchandize platform                                    0
B2B Mobile Auction Marketplace                              0
B2B eCommerce Marketplace                                   0
B2B logistics delivery platform                             0
B2B marketplace for industrial goods                        0
                                                           ..
ah! Ventures, Viktor Koenig PE Fund, Mantra Ventures        0
ah! Ventures, Vivek Joshi, Mohit Satyanand & others         0
ain Capital Ventures, Renaud Laplanche                      0
blockchain ecosystem Global Advisors, Horseferry            0
growX ventures                                              0
growX ventures,Â  Manish Singhal                             0
havya Sharma, Amit Nagar                                    0
hooting Starts Sports LLP, Franchise India Brands           0
i2india Pvt Ltd                                             0
i2india Ventures                                            0
iBhubs                                                      0
mall Industries Development Bank of India (SIDBI)           0
pi Ventures, Axilor Ventures, 500 Startups, Binny Bansal    0
pi Ventures, Blume Ventures                                 0
responsAbility Investments, Infuse Ventures                 0
ru-Net, Sequoia Capital,Â  Lightbox Ventures                 0
undisclosed investor                                        0
undisclosed investors                                       0
undisclosed private investors                               0
vCommission                                                 0
Crowd Funding                                               0
Crowd funding                                               0
Debt Funding                                                0
Private Equity                                              0
PrivateEquity                                               0
Seed Funding                                                0
SeedFunding                                                 0
Date_day                                                    0
Date_month                                                  0
Date_year                                                   3
Length: 4074, dtype: int64

Series([], Name: Date_year, dtype: object)

In [164]:
X['Date_year']=X['Date_year'].str.replace('/','').astype(np.float)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [168]:
X.isnull()

,360-degree view creating platform,3D Printer Manufacturer,API Workflow platform,Activity Based Social Network,Advertising & Marketing Community Networking platform,Affordable Education,Affordable Hotel Booking Online,Algorithmic Match Making Platform,Alternate Mobile Monetization platform,App Analytics platform,...,Crowd Funding,Crowd funding,Debt Funding,Private Equity,PrivateEquity,Seed Funding,SeedFunding,Date_day,Date_month,Date_year
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2333,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2336,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2338,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2339,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2340,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2341,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2342,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2344,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2345,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2346,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2347,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2348,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2349,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2350,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2352,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2353,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2354,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2356,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2357,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2360,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2361,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2362,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2364,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2365,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2366,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2367,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2368,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2369,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2371,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [180]:
X.reset_index(inplace=True)

In [181]:
X

,index,360-degree view creating platform,3D Printer Manufacturer,API Workflow platform,Activity Based Social Network,Advertising & Marketing Community Networking platform,Affordable Education,Affordable Hotel Booking Online,Algorithmic Match Making Platform,Alternate Mobile Monetization platform,...,Crowd Funding,Crowd funding,Debt Funding,Private Equity,PrivateEquity,Seed Funding,SeedFunding,Date_day,Date_month,Date_year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,01,08,2017.0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017.0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017.0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,01,07,2017.0
4,6,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,03,07,2017.0
5,7,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,04,07,2017.0
6,8,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017.0
7,9,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017.0
8,10,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017.0
9,13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,07,07,2017.0
10,15,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,10,07,2017.0
11,16,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,11,07,2017.0
12,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,11,07,2017.0
13,19,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,12,07,2017.0
14,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,14,07,2017.0
15,24,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,07,2017.0
16,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,17,07,2017.0
17,26,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,17,07,2017.0
18,31,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,19,07,2017.0
19,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,07,2017.0
20,34,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,07,2017.0
21,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,07,2017.0
22,39,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017.0
23,40,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017.0
24,42,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,26,07,2017.0
25,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,07,2017.0
26,44,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,07,2017.0
27,46,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,07,2017.0
28,50,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,06,2017.0
29,52,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,06,06,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2331,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,07,01,2015.0
1496,2333,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,09,01,2015.0
1497,2336,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,12,01,2015.0
1498,2338,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,01,2015.0
1499,2339,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,15,01.2015,NaN
1500,2340,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,16,01,2015.0
1501,2341,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,18,01,2015.0
1502,2342,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1503,2344,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1504,2345,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1505,2346,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1506,2347,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1507,2348,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1508,2349,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1509,2350,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,20,01,2015.0
1510,2352,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,01,2015.0
1511,2353,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,21,01,2015.0
1512,2354,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,01,2015.0
1513,2356,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,05,2015.0
1514,2357,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,22,01,2015.0
1515,2360,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015.0
1516,2361,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015.0
1517,2362,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,24,01,2015.0
1518,2364,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,01,2015.0
1519,2365,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,01,2015.0
1520,2366,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,01,2015.0
1521,2367,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015.0
1522,2368,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015.0
1523,2369,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,30,01,2015.0
1524,2371,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,31,01,2015.0

In [183]:
X

,index,360-degree view creating platform,3D Printer Manufacturer,API Workflow platform,Activity Based Social Network,Advertising & Marketing Community Networking platform,Affordable Education,Affordable Hotel Booking Online,Algorithmic Match Making Platform,Alternate Mobile Monetization platform,...,Crowd Funding,Crowd funding,Debt Funding,Private Equity,PrivateEquity,Seed Funding,SeedFunding,Date_day,Date_month,Date_year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,01,08,2017.0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017.0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017.0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,01,07,2017.0
4,6,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,03,07,2017.0
5,7,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,04,07,2017.0
6,8,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017.0
7,9,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017.0
8,10,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017.0
9,13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,07,07,2017.0
10,15,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,10,07,2017.0
11,16,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,11,07,2017.0
12,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,11,07,2017.0
13,19,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,12,07,2017.0
14,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,14,07,2017.0
15,24,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,07,2017.0
16,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,17,07,2017.0
17,26,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,17,07,2017.0
18,31,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,19,07,2017.0
19,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,07,2017.0
20,34,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,07,2017.0
21,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,07,2017.0
22,39,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017.0
23,40,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017.0
24,42,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,26,07,2017.0
25,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,07,2017.0
26,44,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,07,2017.0
27,46,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,07,2017.0
28,50,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,06,2017.0
29,52,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,06,06,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2331,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,07,01,2015.0
1496,2333,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,09,01,2015.0
1497,2336,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,12,01,2015.0
1498,2338,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,01,2015.0
1499,2339,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,15,01.2015,NaN
1500,2340,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,16,01,2015.0
1501,2341,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,18,01,2015.0
1502,2342,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1503,2344,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1504,2345,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1505,2346,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1506,2347,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1507,2348,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1508,2349,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015.0
1509,2350,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,20,01,2015.0
1510,2352,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,01,2015.0
1511,2353,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,21,01,2015.0
1512,2354,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,01,2015.0
1513,2356,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,05,2015.0
1514,2357,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,22,01,2015.0
1515,2360,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015.0
1516,2361,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015.0
1517,2362,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,24,01,2015.0
1518,2364,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,01,2015.0
1519,2365,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,01,2015.0
1520,2366,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,01,2015.0
1521,2367,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015.0
1522,2368,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015.0
1523,2369,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,30,01,2015.0
1524,2371,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,31,01,2015.0

In [187]:
X['Date_year'][X['Date_year'].isnull()]

1319   NaN
1360   NaN
1499   NaN
Name: Date_year, dtype: float64

In [190]:
X.iloc[1319,-1].fillna(X['Date_year'].mode())

AttributeError: 'float' object has no attribute 'fillna'

In [189]:
X.iloc[1360,-1]

nan

In [196]:
X.dtypes

index                                                         int64
360-degree view creating platform                             uint8
3D Printer Manufacturer                                       uint8
API Workflow platform                                         uint8
Activity Based Social Network                                 uint8
Advertising & Marketing Community Networking platform         uint8
Affordable Education                                          uint8
Affordable Hotel Booking Online                               uint8
Algorithmic Match Making Platform                             uint8
Alternate Mobile Monetization platform                        uint8
App Analytics platform                                        uint8
App based Bus Pooling Services                                uint8
App based Fitness coaching                                    uint8
App securityÂ  testing platform                                uint8
Architectural Design & Consulting                             uint8
Artificial Intelligence Ecommerce Chatbot                     uint8
Artificial Intelligence platform                              uint8
Artist / Designer Marketplace                                 uint8
Asset Financing platform                                      uint8
Auto                                                          uint8
Auto Insurance Online platform                                uint8
Auto Rickshaw Based Services                                  uint8
Auto Rickshaw based Logistics                                 uint8
Automated Storage & Warehousing Solution                      uint8
Automotive Services platform                                  uint8
Autorickshaw Aggregator & Booking platform                    uint8
B2B Merchandize platform                                      uint8
B2B Mobile Auction Marketplace                                uint8
B2B eCommerce Marketplace                                     uint8
B2B logistics delivery platform                               uint8
                                                             ...
ah! Ventures, Viktor Koenig PE Fund, Mantra Ventures          uint8
ah! Ventures, Vivek Joshi, Mohit Satyanand & others           uint8
ain Capital Ventures, Renaud Laplanche                        uint8
blockchain ecosystem Global Advisors, Horseferry              uint8
growX ventures                                                uint8
growX ventures,Â  Manish Singhal                               uint8
havya Sharma, Amit Nagar                                      uint8
hooting Starts Sports LLP, Franchise India Brands             uint8
i2india Pvt Ltd                                               uint8
i2india Ventures                                              uint8
iBhubs                                                        uint8
mall Industries Development Bank of India (SIDBI)             uint8
pi Ventures, Axilor Ventures, 500 Startups, Binny Bansal      uint8
pi Ventures, Blume Ventures                                   uint8
responsAbility Investments, Infuse Ventures                   uint8
ru-Net, Sequoia Capital,Â  Lightbox Ventures                   uint8
undisclosed investor                                          uint8
undisclosed investors                                         uint8
undisclosed private investors                                 uint8
vCommission                                                   uint8
Crowd Funding                                                 uint8
Crowd funding                                                 uint8
Debt Funding                                                  uint8
Private Equity                                                uint8
PrivateEquity                                                 uint8
Seed Funding                                                  uint8
SeedFunding                                                   uint8
Date_day                                                     object
Date_month                                                   object
Date_year                                                   float64
Length: 4075, dtype: object

In [221]:
X.shape

(1525, 4074)

In [220]:
X

,360-degree view creating platform,3D Printer Manufacturer,API Workflow platform,Activity Based Social Network,Advertising & Marketing Community Networking platform,Affordable Education,Affordable Hotel Booking Online,Algorithmic Match Making Platform,Alternate Mobile Monetization platform,App Analytics platform,...,Crowd Funding,Crowd funding,Debt Funding,Private Equity,PrivateEquity,Seed Funding,SeedFunding,Date_day,Date_month,Date_year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,01,08,2017
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,02,08,2017
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,01,07,2017
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,03,07,2017
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,04,07,2017
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,07,2017
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,07,07,2017
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,10,07,2017
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,11,07,2017
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,11,07,2017
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,12,07,2017
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,14,07,2017
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,07,2017
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,17,07,2017
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,17,07,2017
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,19,07,2017
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,07,2017
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,07,2017
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,07,2017
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,07,2017
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,26,07,2017
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,26,07,2017
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,07,2017
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,07,2017
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,05,06,2017
52,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,06,06,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,07,01,2015
2333,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,09,01,2015
2336,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,12,01,2015
2338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,14,01,2015
2339,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,15,01.2015,None
2340,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,16,01,2015
2341,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,18,01,2015
2342,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2347,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2348,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2349,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,19,01,2015
2350,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,20,01,2015
2352,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,20,01,2015
2353,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,21,01,2015
2354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,01,2015
2356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,21,05,2015
2357,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,22,01,/2015
2360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015
2361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,22,01,2015
2362,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,24,01,2015
2364,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,25,01,2015
2365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,27,01,2015
2366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,28,01,2015
2367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015
2368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,29,01,2015
2369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,30,01,2015
2371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,31,01,2015

In [222]:
X.isnull().sum()

360-degree view creating platform                           0
3D Printer Manufacturer                                     0
API Workflow platform                                       0
Activity Based Social Network                               0
Advertising & Marketing Community Networking platform       0
Affordable Education                                        0
Affordable Hotel Booking Online                             0
Algorithmic Match Making Platform                           0
Alternate Mobile Monetization platform                      0
App Analytics platform                                      0
App based Bus Pooling Services                              0
App based Fitness coaching                                  0
App securityÂ  testing platform                              0
Architectural Design & Consulting                           0
Artificial Intelligence Ecommerce Chatbot                   0
Artificial Intelligence platform                            0
Artist / Designer Marketplace                               0
Asset Financing platform                                    0
Auto                                                        0
Auto Insurance Online platform                              0
Auto Rickshaw Based Services                                0
Auto Rickshaw based Logistics                               0
Automated Storage & Warehousing Solution                    0
Automotive Services platform                                0
Autorickshaw Aggregator & Booking platform                  0
B2B Merchandize platform                                    0
B2B Mobile Auction Marketplace                              0
B2B eCommerce Marketplace                                   0
B2B logistics delivery platform                             0
B2B marketplace for industrial goods                        0
                                                           ..
ah! Ventures, Viktor Koenig PE Fund, Mantra Ventures        0
ah! Ventures, Vivek Joshi, Mohit Satyanand & others         0
ain Capital Ventures, Renaud Laplanche                      0
blockchain ecosystem Global Advisors, Horseferry            0
growX ventures                                              0
growX ventures,Â  Manish Singhal                             0
havya Sharma, Amit Nagar                                    0
hooting Starts Sports LLP, Franchise India Brands           0
i2india Pvt Ltd                                             0
i2india Ventures                                            0
iBhubs                                                      0
mall Industries Development Bank of India (SIDBI)           0
pi Ventures, Axilor Ventures, 500 Startups, Binny Bansal    0
pi Ventures, Blume Ventures                                 0
responsAbility Investments, Infuse Ventures                 0
ru-Net, Sequoia Capital,Â  Lightbox Ventures                 0
undisclosed investor                                        0
undisclosed investors                                       0
undisclosed private investors                               0
vCommission                                                 0
Crowd Funding                                               0
Crowd funding                                               0
Debt Funding                                                0
Private Equity                                              0
PrivateEquity                                               0
Seed Funding                                                0
SeedFunding                                                 0
Date_day                                                    0
Date_month                                                  0
Date_year                                                   3
Length: 4074, dtype: int64

In [275]:
X['Date_day']=X['Date_day'].astype(np.float)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [276]:
X['Date_month']=X['Date_month'].astype(np.float)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [278]:
X['Date_year']=X['Date_year'].str.replace('/','').astype(np.float)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [231]:
X.dtypes

360-degree view creating platform                             uint8
3D Printer Manufacturer                                       uint8
API Workflow platform                                         uint8
Activity Based Social Network                                 uint8
Advertising & Marketing Community Networking platform         uint8
Affordable Education                                          uint8
Affordable Hotel Booking Online                               uint8
Algorithmic Match Making Platform                             uint8
Alternate Mobile Monetization platform                        uint8
App Analytics platform                                        uint8
App based Bus Pooling Services                                uint8
App based Fitness coaching                                    uint8
App securityÂ  testing platform                                uint8
Architectural Design & Consulting                             uint8
Artificial Intelligence Ecommerce Chatbot                     uint8
Artificial Intelligence platform                              uint8
Artist / Designer Marketplace                                 uint8
Asset Financing platform                                      uint8
Auto                                                          uint8
Auto Insurance Online platform                                uint8
Auto Rickshaw Based Services                                  uint8
Auto Rickshaw based Logistics                                 uint8
Automated Storage & Warehousing Solution                      uint8
Automotive Services platform                                  uint8
Autorickshaw Aggregator & Booking platform                    uint8
B2B Merchandize platform                                      uint8
B2B Mobile Auction Marketplace                                uint8
B2B eCommerce Marketplace                                     uint8
B2B logistics delivery platform                               uint8
B2B marketplace for industrial goods                          uint8
                                                             ...
ah! Ventures, Viktor Koenig PE Fund, Mantra Ventures          uint8
ah! Ventures, Vivek Joshi, Mohit Satyanand & others           uint8
ain Capital Ventures, Renaud Laplanche                        uint8
blockchain ecosystem Global Advisors, Horseferry              uint8
growX ventures                                                uint8
growX ventures,Â  Manish Singhal                               uint8
havya Sharma, Amit Nagar                                      uint8
hooting Starts Sports LLP, Franchise India Brands             uint8
i2india Pvt Ltd                                               uint8
i2india Ventures                                              uint8
iBhubs                                                        uint8
mall Industries Development Bank of India (SIDBI)             uint8
pi Ventures, Axilor Ventures, 500 Startups, Binny Bansal      uint8
pi Ventures, Blume Ventures                                   uint8
responsAbility Investments, Infuse Ventures                   uint8
ru-Net, Sequoia Capital,Â  Lightbox Ventures                   uint8
undisclosed investor                                          uint8
undisclosed investors                                         uint8
undisclosed private investors                                 uint8
vCommission                                                   uint8
Crowd Funding                                                 uint8
Crowd funding                                                 uint8
Debt Funding                                                  uint8
Private Equity                                                uint8
PrivateEquity                                                 uint8
Seed Funding                                                  uint8
SeedFunding                                                   uint8
Date_day                                                    float64
Date_month                                                  float64
Date_year                                                    object
Length: 4074, dtype: object

In [235]:
X=X.reset_index()

In [237]:
X['Date_year'][X['Date_year'].isnull()]

1319    None
1360    None
1499    None
Name: Date_year, dtype: object

0        2017
1        2017
2        2017
3        2017
4        2017
5        2017
6        2017
7        2017
8        2017
9        2017
10       2017
11       2017
12       2017
13       2017
14       2017
15       2017
16       2017
17       2017
18       2017
19       2017
20       2017
21       2017
22       2017
23       2017
24       2017
25       2017
26       2017
27       2017
28       2017
29       2017
        ...
1495     2015
1496     2015
1497     2015
1498     2015
1499      NaN
1500     2015
1501     2015
1502     2015
1503     2015
1504     2015
1505     2015
1506     2015
1507     2015
1508     2015
1509     2015
1510     2015
1511     2015
1512     2015
1513     2015
1514    /2015
1515     2015
1516     2015
1517     2015
1518     2015
1519     2015
1520     2015
1521     2015
1522     2015
1523     2015
1524     2015
Name: Date_year, Length: 1525, dtype: object

In [246]:
X.isnull().sum()

index                                                       0
360-degree view creating platform                           0
3D Printer Manufacturer                                     0
API Workflow platform                                       0
Activity Based Social Network                               0
Advertising & Marketing Community Networking platform       0
Affordable Education                                        0
Affordable Hotel Booking Online                             0
Algorithmic Match Making Platform                           0
Alternate Mobile Monetization platform                      0
App Analytics platform                                      0
App based Bus Pooling Services                              0
App based Fitness coaching                                  0
App securityÂ  testing platform                              0
Architectural Design & Consulting                           0
Artificial Intelligence Ecommerce Chatbot                   0
Artificial Intelligence platform                            0
Artist / Designer Marketplace                               0
Asset Financing platform                                    0
Auto                                                        0
Auto Insurance Online platform                              0
Auto Rickshaw Based Services                                0
Auto Rickshaw based Logistics                               0
Automated Storage & Warehousing Solution                    0
Automotive Services platform                                0
Autorickshaw Aggregator & Booking platform                  0
B2B Merchandize platform                                    0
B2B Mobile Auction Marketplace                              0
B2B eCommerce Marketplace                                   0
B2B logistics delivery platform                             0
                                                           ..
ah! Ventures, Viktor Koenig PE Fund, Mantra Ventures        0
ah! Ventures, Vivek Joshi, Mohit Satyanand & others         0
ain Capital Ventures, Renaud Laplanche                      0
blockchain ecosystem Global Advisors, Horseferry            0
growX ventures                                              0
growX ventures,Â  Manish Singhal                             0
havya Sharma, Amit Nagar                                    0
hooting Starts Sports LLP, Franchise India Brands           0
i2india Pvt Ltd                                             0
i2india Ventures                                            0
iBhubs                                                      0
mall Industries Development Bank of India (SIDBI)           0
pi Ventures, Axilor Ventures, 500 Startups, Binny Bansal    0
pi Ventures, Blume Ventures                                 0
responsAbility Investments, Infuse Ventures                 0
ru-Net, Sequoia Capital,Â  Lightbox Ventures                 0
undisclosed investor                                        0
undisclosed investors                                       0
undisclosed private investors                               0
vCommission                                                 0
Crowd Funding                                               0
Crowd funding                                               0
Debt Funding                                                0
Private Equity                                              0
PrivateEquity                                               0
Seed Funding                                                0
SeedFunding                                                 0
Date_day                                                    0
Date_month                                                  0
Date_year                                                   3
Length: 4075, dtype: int64

In [247]:
X['Date_year'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1495    False
1496    False
1497    False
1498    False
1499     True
1500    False
1501    False
1502    False
1503    False
1504    False
1505    False
1506    False
1507    False
1508    False
1509    False
1510    False
1511    False
1512    False
1513    False
1514    False
1515    False
1516    False
1517    False
1518    False
1519    False
1520    False
1521    False
1522    False
1523    False
1524    False
Name: Date_year, Length: 1525, dtype: bool

In [249]:
X['Date_year'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1495    False
1496    False
1497    False
1498    False
1499     True
1500    False
1501    False
1502    False
1503    False
1504    False
1505    False
1506    False
1507    False
1508    False
1509    False
1510    False
1511    False
1512    False
1513    False
1514    False
1515    False
1516    False
1517    False
1518    False
1519    False
1520    False
1521    False
1522    False
1523    False
1524    False
Name: Date_year, Length: 1525, dtype: bool

In [250]:
X=X.dropna()

In [251]:
X.shape

(1522, 4075)

In [281]:
X.columns

Index(['360-degree view creating platform', '3D Printer Manufacturer',
       'API Workflow platform', 'Activity Based Social Network',
       'Advertising & Marketing Community Networking platform',
       'Affordable Education', 'Affordable Hotel Booking Online',
       'Algorithmic Match Making Platform',
       'Alternate Mobile Monetization platform', 'App Analytics platform',
       ...
       'Crowd Funding', 'Crowd funding', 'Debt Funding', 'Private Equity',
       'PrivateEquity', 'Seed Funding', 'SeedFunding', 'Date_day',
       'Date_month', 'Date_year'],
      dtype='object', length=4074)

In [283]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [284]:
clf_gini = DecisionTreeRegressor()
clf_gini.fit(X_train,y_train)

y_prediction_gini = clf_gini.predict(X_test)
accuracy_gini = accuracy_score(y_test,y_prediction_gini)

accuracy_gini

0.061269146608315096